<footer class="bg-primary">
    <div class="container">
        <div class="row">
        <div class="col-md-3">
            <h3>Quick Link</h3>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
                <li>Blogs</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Course Offers</h3>
            <ul>
                <li>HTML</li>
                <li>Angular</li>
                <li>React</li>
                <li>Javascript</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Product</h3>
            <ul>
                <li>Learning Css3</li>
                <li>HTML 5</li>
                <li>Material Design</li>
                <li>Bootstrap</li>
               
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Reach US</h3>
            <ul>
                <li>E-26 Astha Vihar Prem Nager 3 Nangloi New Delhi</li>
                <li>Mob: 8586851990</li>
                <li>mr.manish212@gmail.com</li>
               
            </ul>
        </div>
    </div>
    </div>
</footer>
