<div class="row bg-light pt-5 pb-3">
    <div class="container">
        <div class="row" style="display: none;">
           <div class="col-md-3">
               <h3 class="travel-name">NRJ Tours</h3>
               <h4 class="seattype">A/c Seater Push Back (2+2)</h4>
           </div>
           <div class="col-md-6">
               <div class="row">
                   <div class="col-md-6">7-00 pm</div>
                   <div class="col-md-6">10-00 am</div>
               </div>
               <div class="row">
                <div class="col-md-4">Delhi</div>
                <div class="col-md-4">Time- 3hrs: 20 min</div>
                <div class="col-md-4">Agra</div>
            </div>
           </div>
           <div class="col-md-3">
               <div class="row">
                   <div class="col-md-6">
                       <div>Saeat Avaliable</div>
                       <div>25 seat</div>
                    </div>
                    <div class="col-md-6">
                        <div>Fair</div>
                        <div>Rs. 550.00</div>
                     </div>
           </div>
        </div>
        </div>
    <div class="row pt-3">
            <h4>Click on avaliable seat to proceed with your transaction.</h4>
            <div class="col-md-9 seat-wrap pt-2">
                <div class="driver-sta"><img src="https://bus.easemytrip.com/new_img/lower-ico.png"></div>
                <div class="seating-plan">
                    <ul>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                    </ul>
                    <ul>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                    </ul>
                    <ul>
                        <li>&nbsp;</li>
                    </ul>
                    <ul>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                    </ul>
                    <ul>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                    </ul>
                </div>
                <div class="backseat">
                    <ul>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        <li><img src="https://aclient.justclicknpay.com/jct/image/gray_seat1.png"></li>
                        
                    </ul>
                </div>

             

            </div>
            <div class="col-md-3 fare-wrap ">
                <div class="row">
                   <div class="col-md-12">
                    <div class="top-height">Selected Seats</div>
                    <div class="select-s">
                        <ul>
                            <li>1 Seat</li>
                            <li>4 Seat</li>
                            <li>5 Seat</li>
                            <li>7 Seat</li>
                        </ul>
                    </div>
                    <div class="fair-box">
                        <div>
                            <span>Base Fare</span>
                            <span>Rs. 2233</span>
                        </div>
                        <div>
                            <span>GST & Oprator Fee</span>
                            <span>Rs. 10</span>
                        </div>
                        <div>
                            <span>Total Amt.</span>
                            <span>Rs. 2243</span>
                        </div>
                    </div>
                   </div>
                </div>
              

            </div>
        </div>

</div>
