<section class="banner-bg"> 
    <div class="container">
        <div class="banner-inner">
            <h2 class="text-uppercase font-weight-bold">User Register </h2>
            <p>Documentation and examples for Bootstrap’s powerful, responsive navigation header, the navbar. Includes support for branding, navigation, and more, including support for our collapse plugin</p>

        </div>
    </div>
</section>

<section >
    <div class="container">
        <div class="form-input-box mt-5">
            <form action="">
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                  <div class="input-group flex-nowrap mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                  <div class="input-group flex-nowrap mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email Id">
                  </div>
                  <div class="input-group flex-nowrap mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="addon-wrapping"><i class="fa fa-key" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password Name">
                  </div>
            </form>
        </div>
    </div>
  
</section>