<div class="container">
    <div class="col-md-12">
        <div class="row top-sec">
            <ul class="d-flex">
                <li> <a href="#" target="_blank" class="bg-info text-white p-2">Partner Invoice</a> </li>
                <li> <a href="#" target="_blank" class="bg-warning text-white p-2 ">User Invoice</a> </li>
                <li> <a href="#" target="_blank" class="bg-primary text-white p-2">Print Tickets</a> </li>
                <li> <a href="#" target="_blank" class="bg-dark text-white p-2">E-Tickets</a> </li>
                <li> <a href="#" target="_blank" class="bg-danger text-white p-2">Send SMS</a> </li>
            </ul>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row bg-light">
            <div class="col-md-6">
                <div class="title">Transaction Details</div>
                <div>
                    <table class="table">
                          <tr>
                            <td>Transaction ID</td>
                            <td>Mark</td>
                          </tr>
                          <tr>
                            <td>Transaction Status</td>
                            <td>Mark</td>
                          </tr>
                          <tr>
                            <td>Transaction Date & Time</td>
                            <td>Mark</td>
                          </tr>
                          <tr>
                            <td>Payment Mode</td>
                            <td>Mark</td>
                          </tr>
                          <tr>
                            <td>PNR</td>
                            <td>Mark</td>
                          </tr>
                         
                      </table>
                </div>
            </div>
            <div class="col-md-6 bg1">
                <div class="title">Tickets Delivery Address</div>
                <div>
                    <table class="table text-white">
                          <tr>
                            <td>Name</td>
                            <td>Mark</td>
                          </tr>
                          <tr>
                            <td>Address</td>
                            <td>Mark</td>
                          </tr>
                          
                          <tr>
                            <td>City/State/Country</td>
                            <td>Mark</td>
                          </tr>
                         
                          <tr>
                            <td>Pin Code</td>
                            <td>Pin Code</td>
                          </tr>
                          <tr>
                            <td>Contact No.</td>
                            <td>Mark</td>
                          </tr>
                         
                      </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title bg-info p-2 text-white mt-2">Tickets Details</div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Passenger Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Transaction Id</th>
                        <th scope="col">Seats No.</th>
                        <th scope="col">Fare</th>
                        <th scope="col">Cancal</th>
                      </tr>
                    </thead>
                      <tr>
                        <th>1</th>
                        <td>Mark</td>
                        <td>25</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td><input type="checkbox" id="" name="" value=""></td>
                      </tr>
                      <tr>
                        <th>2</th>
                        <td>Mark</td>
                        <td>35</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td><input type="checkbox" id="" name="" value=""></td>
                      </tr>
                      <tr>
                        <th>3</th>
                        <td>Mark</td>
                        <td>45</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Otto</td>
                        <td><input type="checkbox" id="" name="" value=""></td>
                      </tr>
                      <tr>
                          <td>Remark</td>
                          <td colspan="5"><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></td>
                          <td><button class="btn btn-danger">Cancel</button></td>
                      </tr>
                  </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row bg-light">
           
            <div class=" col-md-12 bg1">
                <div class="title">Fair Details</div>
                <div>
                    <table class="table text-white">
                        <thead>
                          <tr>
                            <th scope="col">Basic Fare</th>
                            <th scope="col">Conveyance fare</th>
                            <th scope="col">Discount</th>
                            <th scope="col">TDS.</th>
                            <th scope="col">Tax Charge</th>

                          </tr>
                        </thead>
                      
                          <tr>
                            <td>1596.00</td>
                            <td>0.00</td>
                            <td>1.32</td>
                            <td>0.070</td>
                            <td>0.00</td>
                          </tr>
                         
                       
                    </table>
                </div>
                <div>
                    <table class="table text-white">
                        <tr>
                            <td><b>Gross Fare:</b></td>
                            <td style="text-align: right;">Rs. 1798.00</td>
                        </tr>
                        <tr>
                            <td> <b> Net Fare:</b></td>
                            <td style="text-align: right;">Rs. 1798.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>