<section class="course-feature" class="pt-5 pb-5">
    <div class="container">
        <h2 class="text-center">Free learning on Udemy</h2>
        <div class="row ">
            <div class="col-sm-6 col-md-3 pr-0">
                <div class="course-list">
                    <img src="assets/images/angular-2.jpg" alt="">
                    <div class="course-card">
                        <h5 class="pt-3">Learn Angular 4 from Scratch</h5>
                        <p>Updated April 2017</p>
                        <div class="duration">
                            <span>1.5 total hours</span>
                            <span>11 lectures</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 pr-0">
                <div class="course-list">
                    <img src="assets/images/angular-4.jpg" alt="">
                    <div class="course-card">
                        <h5 class="pt-3">Learn Angular 4 from Scratch</h5>
                        <p>Updated April 2017</p>
                        <div class="duration">
                            <span>1.5 total hours</span>
                            <span>11 lectures</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 pr-0">
                <div class="course-list">
                    <img src="assets/images/angular-5.jpg" alt="">
                    <div class="course-card">
                        <h5 class="pt-3">Learn Angular 4 from Scratch</h5>
                        <p>Updated April 2017</p>
                        <div class="duration">
                            <span>1.5 total hours</span>
                            <span>11 lectures</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 pr-0">
                <div class="course-list">
                    <img src="assets/images/angular-mastering.jpg" alt="">
                    <div class="course-card">
                        <h5 class="pt-3">Learn Angular 4 from Scratch</h5>
                        <p>Updated April 2017</p>
                        <div class="duration">
                            <span>1.5 total hours</span>
                            <span>11 lectures</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 pr-0">
                <div class="course-list">
                    <img src="assets/images/angular-with-larwell.jpg" alt="">
                    <div class="course-card">
                        <h5 class="pt-3">Learn Angular 4 from Scratch</h5>
                        <p>Updated April 2017</p>
                        <div class="duration">
                            <span>1.5 total hours</span>
                            <span>11 lectures</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 pr-0">
                <div class="course-list">
                    <img src="assets/images/angular-basic.jpg" alt="">
                    <div class="course-card">
                        <h5 class="pt-3">Learn Angular 4 from Scratch</h5>
                        <p>Updated April 2017</p>
                        <div class="duration">
                            <span>1.5 total hours</span>
                            <span>11 lectures</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 pr-0">
                <div class="course-list">
                    <img src="assets/images/angular-beginner.jpg" alt="">
                    <div class="course-card">
                        <h5 class="pt-3">Learn Angular 4 from Scratch</h5>
                        <p>Updated April 2017</p>
                        <div class="duration">
                            <span>1.5 total hours</span>
                            <span>11 lectures</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 pr-0">
                <div class="course-list">
                    <img src="assets/images/angular-juit.jpg" alt="">
                    <div class="course-card">
                        <h5 class="pt-3">Learn Angular 4 from Scratch</h5>
                        <p>Updated April 2017</p>
                        <div class="duration">
                            <span>1.5 total hours</span>
                            <span>11 lectures</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>



