<div class="row">
    <div class="container ticker-inner">
        <div class="agent-logo">
            <img src="http://mybees.in/nasscom/2021/engineeringawards/images/logo.jpg" alt="">
        </div>
        <div class="row">            
            <div class="col-md-8 pr-0 pl-0">
                <div class="travel-wrap-left">
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                              <tr>
                                  <td><b> Mumbai - Delhi</b> </td>
                                  <td>Fri, 20/01/2121</td>
                              </tr>
                              <tr>
                                <td><b> Bus Operator</b> </td>
                                <td>Manish Tour & Travel</td>
                            </tr>
                            <tr>
                                <td><b> Bus Operator Contact No. </b> </td>
                                <td>+91 - 8765- 33- 5555</td>
                            </tr>
                            </table>
                        </div>
                      
                    </div>                   
                </div>
            </div>
            <div class="col-md-4 pnr-info">
                <div class="row">
                    <div class="col-md-12">
                        <table>
                          <tr>
                              <td> <b>PNR#</b> </td>
                              <td>Fri, 20/01/2121</td>
                          </tr>
                          <tr>
                            <td><b> Tickets# </b> </td>
                            <td>223545435</td>
                        </tr>
                        <tr>
                            <td><b> Seat(s)</b> </td>
                            <td>5</td>
                        </tr>
                        </table>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="row mt-4 bg-light">
            <div class="col-md-12 mt-4">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Passenger Name</th>
                        <th scope="col">Seat Name</th>
                        <th scope="col">Contact Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            
        </div>

        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="title">Bus Type</div>
                    <div class="dis">
                        <p>Volvo A/C Multi Axle Semi <br> <span>Sleeper (2+2)</span> </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="title">Reporting Time</div>
                    <div class="dis">
                        <p>8:50 pm</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="title">Departing Time</div>
                    <div class="dis">
                        <p>8:50 pm</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="title">Boarding point Address  </div>
                    <div class="dis">
                        <p><b>Location :</b> <span>Belapure C.B.D</span></p>
                        <p><b>Landmark: </b><span>Belapure C.B.D Near Traffic Police Chowki</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="row">
                <div class="col-md-3">
                    <div class="title">Total Fare</div>
                    <div class="dis">
                        <p> Rs. 500 </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="title">Service Charge</div>
                    <div class="dis">
                        <p>8:50 pm</p>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <div class="title">Address</div>
                    <div class="dis">
                        <p><span>Belapure C.B.D Near Traffic Police Chowki </span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-light mt-4 pt-2 pb-2">
            <div class="col-md-12">
                <h4>Term & Condition</h4>
            <p>Given our industry's significant dependence on US & UK markets, exploring opportunities in Africa could be 
                mean diversification and expansion to a new territory. Hope you would like to take advantage of this 
                nique opportunity.</p>
            </div>
            
        </div>

        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="col-md-6">
                    <h5>Iseva responsible for</h5>
                    <ul>
                        <li>Handshake with African companies & stakeholders</li>
                        <li>Handshake with African companies & stakeholders</li>
                        <li>Handshake with African companies & stakeholders</li>
                        <li>Handshake with African companies & stakeholders</li>
                        <li>Handshake with African companies & stakeholders</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>Iseva responsible for</h5>
                    <ul>
                        <li>Handshake with African companies & stakeholders</li>
                        <li>Handshake with African companies & stakeholders</li>
                        <li>Handshake with African companies & stakeholders</li>
                        <li>Handshake with African companies & stakeholders</li>
                        <li>Handshake with African companies & stakeholders</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>